.layout{
    
    padding: 15px;
    
   
}
.wrap-login{ 
     align-items: center;
    width: 960px;
    height: 600px;
   
    border-radius: 10px;
   
    
}
.item{
    
    float: left;
    overflow: hidden;
    width: 46%;
 
    margin: 1em;

    padding: 2em;
    
    height: 90%;
    
}

.img{
    
    height: 100%;
    width: 100%;
}